DATABASE_URL = ''
PORT = 8080
JWT_ACCESS_TOKEN_SERECT = ''
JWT_ACCESS_TOKEN_EXPIRY = 10m
JWT_REFRESH_TOKEN_SERECT = ''
JWT_REFRESH_TOKEN_EXPIRY = 7d
RESEND_API_KEY = ''   
VERIFICATION_TOKEN_SERECT = ''
VERIFICATION_TOKEN_EXPIRY = 5m


REDIS_HOST=''
REDIS_PORT=14955
REDIS_USERNAME=''
REDIS_PASSWORD=''


CLIENT_URL=''